/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --site-background: #000028;
  --title-calor: #db00ff;
  --section-title: #ff0070;
  --text-bacground: #ff0070;
  --article-text: #bbd0ff;
  --article-title: #000028;
  --background-url: url(../images/cover-image-dark.png);
  --display: block;
}
