/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --site-background: #001d3d;
  --title-calor: #ffd60a;
  --section-title: #ffc300;
  --text-bacground: #ee9b00;
  --article-text: #ffd60a;
  --article-title: #001d3d;
  --background-url: url(../images/cover-image-dark.png);
  --display: block;
}
